@import 'colors';

* {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a {
	color: $primary-color;
	text-decoration: none;
	&:hover {
		color: black;
	}
}

header#page-header {
	color: $secondary-color;
	background-color: $primary-color;
	padding: 5px;
	border-bottom: 5px solid darken($primary-color, 25%);
  h1 {
		text-align:center;
		text-transform: uppercase;
	}
}

footer#page-footer {
	color: $primary-color;
	background-color: $secondary-color;
	padding: 5px;
	border-top: 5px solid darken($secondary-color, 25%);
}

aside#sidebar {
	float: right;
	background-color: $secondary-color;
	width: 200px;

	li {
	list-style-type: none;
	margin-top: 10px;
}
}

